---
- name: System details
  debug:
    msg: "{{ ansible_facts['lsb']['release'] }}"

- name: Distribution
  debug: msg="{{ ansible_distribution }}"

- name: Distribution version
  debug: msg="{{ ansible_distribution_version}}"

- name: Distribution major version
  debug: msg="{{ ansible_distribution_major_version }}"

- name: Distribution release
  debug: msg="{{ ansible_distribution_release }}"

- name: IP Address
  debug: msg="{{ ansible_default_ipv4.address }}"
